* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    font-family: 'VT323', sans-serif;
}

.container {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 6rem;
    margin: 10px;
}

footer {
    margin: 10px;
    transform: translate(-50%, -50%);
    left: 50%;
    position: fixed;
    bottom: 0;
}

.caixaRange {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px 50px;
    color: white;
    background-color: #6ABDDE;
    padding: 30px;
}

.grid-item {
    text-align: left;
    font-size: 2rem;
}

input[type=text] {
    border: 0;
    width: 5vw;
    color: black;
    text-align: center;
    background-color: white;
}

footer {
    font-size: 1.5rem;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 20px;
}

#red::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
  }
  
  #red::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
  }

  #green::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: green;
    cursor: pointer;
  }
  
  #green::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: green;
    cursor: pointer;
  }

  #blue::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: blue;
    cursor: pointer;
  }
  
  #blue::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: blue;
    cursor: pointer;
  }

  #paletaCores {
    margin: 10px;
    background: rgb(255, 145, 220);
    width: 64vw;
    height: 20vh;
  }