* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

div .country-list, .favorite-list {
    max-height: 50vh;
    max-width: 40vw;
    overflow: auto;
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
}

.country-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.country {
    display: flex;
}

h1 {
    display: flex;
    justify-content: center;
}

h5, h6 {
    margin: 0
}

a {
    margin: 10px;
}

img {
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

ul {
    margin: 10px;
}